[submodule "common"]
	path = common
	url = https://github.com/markyoder/common.git
[submodule "optimizers"]
	path = optimizers
	url = https://github.com/markyoder/optimizers.git
[submodule "yodiipy"]
	path = yodiipy
	url = git@github.com:markyoder/yodiipy.git
[submodule "contours2kml"]
	path = contours2kml
	url = https://github.com/markyoder/contours2kml.git
